.metals/
.bloop/
.vscode/
.bsp/
target/
**/project/metals.sbt
engine/rules
engine/.mau
server/rules
server/.mau
.scala-build/

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
